a {
    text-decoration: none;
    font-weight: 500;
}

.block-container {
    padding: 32px 16px 96px 16px;
}

a:hover {
    text-decoration: none;
    color: #d33682 !important;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 0;
    margin-bottom: 5%;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
